.height-1 {
  height: 10vh;
}

.height-2 {
  height: 20vh;
}

.height-3 {
  height: 30vh;
}

.height-4 {
  height: 40vh;
}

.height-5 {
  height: 50vh;
}

.height-6 {
  height: 60vh;
}

.height-7 {
  height: 70vh;
}

.height-8 {
  height: 80vh;
}

.height-9 {
  height: 90vh;
}

.height-10 {
  height: 100vh;
}