.text-blue{
  color: $blue;
}

.text-grey{
  color: $grey;
}

.text-green{
  color: $green;
}

.text-red{
  color: $red;
}

.text-yellow{
  color: $yellow;
}

.text-cyan{
  color: $cyan;
}

.text-light{
  color: $light;
}

.text-white{
  color: $white;
}

.text-dark{
  color: $dark;
}

.bg-blue{
  background-color: $blue;
}

.bg-grey{
  background-color: $grey;
}

.bg-green{
  background-color: $green;
}

.bg-red{
  background-color: $red;
}

.bg-yellow{
  background-color: $yellow;
}

.bg-cyan{
  background-color: $cyan;
}

.bg-light{
  background-color: $light;
}

.bg-white{
  background-color: $white;
}

.bg-dark{
  background-color: $dark;
}